치ㅊ

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### VS Code ###
.vscode/
.env

### react ###
node_modules/
frontend/node_modules/

/gradle.properties
.gradle.properties
gradle.properties

### Kubernetes Secrets (절대 커밋 금지) ###
k8s/secret.yaml

### Gradle ###
.gradle/
gradle-app.setting
!gradle-wrapper.jar

### Build output ###
build/
target/
**/*.class
