version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    env_file:
      - .env
    container_name: lemuel-postgres
    environment:
      POSTGRES_DB: inter
      POSTGRES_USER: inter
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
