spring:
  application:
    name: lemuel

  datasource:
    url: jdbc:postgresql://localhost:5432/opslab
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        default_schema: opslab

  flyway:
    enabled: true
    locations: classpath:db/migration
    schemas: opslab
    default-schema: opslab
    create-schemas: true


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html


app:
  jwt:
    issuer: ${JWT_ISSUER}
    secret: ${JWT_SECRET}
    ttl-seconds: 86400


